@import 'variables';

.home-page {
  .shop {
    display: flex;
    min-height: 192px;
    position: relative;
    overflow: hidden;
    @include medium {
      min-height: 256px;
    }
    .background {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      padding-bottom: 50%;
      background: linear-gradient(rgba($black, 0), rgba($black, 1));
    }
    .details {
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: $white;
      a {
        color: $red;
      }
    }
  }
}
